In [1]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.head()

   index   Q1   Q2   Q3   Q4   Q5   Q6   Q7  ...  hand  religion  orientation  voted  married  familysize  ASD  nerdiness
0      0  1.0  5.0  5.0  5.0  1.0  4.0  5.0  ...   2.0      12.0          4.0    2.0      1.0         4.0  2.0          1
1      1  4.0  4.0  4.0  4.0  4.0  5.0  4.0  ...   1.0       2.0          1.0    1.0      2.0         4.0  2.0          1
2      2  4.0  5.0  5.0  4.0  3.0  5.0  5.0  ...   1.0       2.0          2.0    2.0      3.0         4.0  2.0          1
3      3  4.0  4.0  4.0  2.0  4.0  3.0  3.0  ...   2.0       1.0          1.0    2.0      1.0         2.0  2.0          1
4      4  4.0  4.0  4.0  4.0  3.0  3.0  4.0  ...   2.0      12.0          1.0    2.0      1.0         1.0  2.0          0

[5 rows x 70 columns]

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            14959 non-null  float64
 2   Q2            14931 non-null  float64
 3   Q3            14950 non-null  float64
 4   Q4            14929 non-null  float64
 5   Q5            14962 non-null  float64
 6   Q6            14952 non-null  float64
 7   Q7            14924 non-null  float64
 8   Q8            14952 non-null  float64
 9   Q9            14944 non-null  float64
 10  Q10           14928 non-null  float64
 11  Q11           14941 non-null  float64
 12  Q12           14933 non-null  float64
 13  Q13           14960 non-null  float64
 14  Q14           14964 non-null  float64
 15  Q15           14955 non-null  float64
 16  Q16           14967 non-null  float64
 17  Q17           14963 non-null  float64
 18  Q18           14937 non-null  float64
 19  Q19           14947 non-null  float64
 20  Q20           14955 non-null  float64
 21  Q21           14961 non-null  float64
 22  Q22           14962 non-null  float64
 23  Q23           14950 non-null  float64
 24  Q24           14939 non-null  float64
 25  Q25           14956 non-null  float64
 26  Q26           14932 non-null  float64
 27  country       14810 non-null  object
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         14947 non-null  float64
 32  TIPI2         14934 non-null  float64
 33  TIPI3         14921 non-null  float64
 34  TIPI4         14936 non-null  float64
 35  TIPI5         14930 non-null  float64
 36  TIPI6         14938 non-null  float64
 37  TIPI7         14936 non-null  float64
 38  TIPI8         14935 non-null  float64
 39  TIPI9         14936 non-null  float64
 40  TIPI10        14920 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     14833 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        14981 non-null  float64
 60  engnat        14953 non-null  float64
 61  age           15000 non-null  int64
 62  hand          14953 non-null  float64
 63  religion      14755 non-null  float64
 64  orientation   14601 non-null  float64
 65  voted         14915 non-null  float64
 66  married       14918 non-null  float64
 67  familysize    14681 non-null  float64
 68  ASD           14911 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 8.0+ MB

In [5]:
train = train.drop(['index', 'country'], axis=1)
test = test.drop(['index', 'country'], axis=1)

In [6]:
train_x = train.drop(['nerdiness'], axis=1)
train_y = train['nerdiness']

In [7]:
lgbm_clf = LGBMClassifier(n_estimators=10000)
lgbm_clf.fit(train_x, train_y)

lgbm_pred = lgbm_clf.predict(test)

In [8]:
submission = pd.read_csv('data/sample_submission.csv')

submission

       index  nerdiness
0          0         -1
1          1         -1
2          2         -1
3          3         -1
4          4         -1
...      ...        ...
35447  35447         -1
35448  35448         -1
35449  35449         -1
35450  35450         -1
35451  35451         -1

[35452 rows x 2 columns]

In [10]:
lgbm_pred

array([0, 1, 1, ..., 1, 0, 1], dtype=int64)

In [11]:
submission['nerdiness'] = lgbm_pred

In [12]:
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          0
35451  35451          1

[35452 rows x 2 columns]

In [13]:
submission.to_csv("baseline.csv", index= False)